<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicTester</title>
</head>
<body>
    <h1>Nier Replicant</h1>
    <button onclick="transmitRequest('play', 'Nier Replicant')">Play</button>
    <button onclick="transmitRequest('shuffle', 'Nier Replicant')">Shuffle Music</button>

    <h1>. . .</h1>

    <h1>Nier Automata</h1>
    <button onclick="transmitRequest('play', 'Nier Automata')">Play</button>
    <button onclick="transmitRequest('shuffle', 'Nier Automata')">Shuffle</button>

    <h1>. . .</h1>

    <h1>Nier Reincarnation</h1>
    <button onclick="transmitRequest('play', 'Nier Reincarnation')">Play</button>
    <button onclick="transmitRequest('shuffle', 'Nier Reincarnation')">Shuffle</button>

    <script src="/connect.js"></script>
</body>
</html>